@charset "utf-8";
body {
	margin: 0;
	padding: 0px;
	font-family: Arial;
	font-size: 11px;
	color: #4d4440;
	line-height: 18px;
	background-color: #eae5d8;
	background-image: url(images/bg-main.png);
	background-repeat: no-repeat;
}

a {
	color: #a08e61;
	font-weight: bold;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


#container {
	width: 1000px;
}
#content {
	margin: 0 0 0 245px;
	background-repeat: repeat-y;
	background-image: url(images/bg-content.png);
	padding: 0;
}

.navbar {
	letter-spacing: 0px;
	padding: 3px 0 0 0;
	background-image: url(images/navbar.png);
	background-repeat: no-repeat;
	font-family: "Arial Narrow";
	font-size: 12px;
	height: 82px;
	margin: 0 0 0 245px;
}
.navleft  {
	float: left;
	margin: 0 0 0 160px;
}
.navleft  ul {
	margin: 0;
	padding: 0px;
}
.navleft  a {
	text-decoration: none;
	color: #FFFFFF;
}
.navleft  li {
	display: list-item;
	margin: 0;
	padding: 0 0 10px;
	list-style-type: none;
	
}
.navright  ul {
	margin: 0;
	padding: 0px;
}
.navright  {
	float: left;
	margin: 0 0 0 78px;
}
.navright  a {
	text-decoration: none;
	color: #FFFFFF;
}
.navright  li {
	display: list-item;
	margin: 0 0 10px;

	padding: padding
: 0 0 10px;;
	list-style-type: none;
}


.contentarea {
	margin: 0;
	background-image: url(images/top-content.png);
	background-repeat: no-repeat;
	padding: 40px 30px 0 30px;
}
.contentbottom {
	background-image: url(images/content-footer.png);
	background-repeat: no-repeat;
	height: 72px;
	width: 755px;
	margin: 0 0 0 245px;
}

.contentarea  h2 {
	font-family: "Arial Narrow";
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	letter-spacing: -1px;
	color: #a08e61;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bab7b4;
}
.contentarea  h3 {
	font-family: "Arial Narrow";
	font-size: 24px;
	font-weight: normal;
	margin: 30px 0 18px 0;
	padding: 0 0 10px 0;
	letter-spacing: -1px;
	color: #a08e61;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bab7b4;
}
.clearboth {
	clear: both;
}
.img-padding {
	padding: 0 0 15px 0;
}




.topheader {
	background-image: url(images/top-header.png);
	background-repeat: no-repeat;
	height: 118px;
	margin: 0;
}
.logo {
	height: 398px;
}
.description {
	padding: 0;
	margin: 0 0 15px 0;
}
.des-img {
	float: left;
	height: 179px;
	width: 262px;
	margin: 0 15px 0 0;
}
.top-area {
	margin: 0;
	padding: 0 16px 0 0;
}
.top-area  h1 {
	font-family: "Arial Narrow";
	color: #a08e61;
	font-size: 26px;
	letter-spacing: -1px;
	font-weight: normal;
	margin: 0 0 15px 0;
	padding: 10px 0 0 0;
	line-height: 18px;
}
.shipdetails {
	background-color: #a08e61;
	margin: 15px 0 20px 0;
	padding: 13px;
	color: #FFFFFF;
}

.policybox {
	border: 1px solid #bab7b4;
	margin: 15px 0 15px 0;
	padding: 12px;
}
.thumb {
	float: left;
	width: 181px;
	margin: 10px 68px 0 0;
}
.thumb1 {
	float: left;
	width: 181px;
	margin: 10px 0 10px 0;
}
.txt-bold {
	font-weight: bold;
}
.txt-padding {
	padding: 0 0 0 57px;
}



.txt-padding2 {
	padding: 0 0 0 12px;
}
