.head-div{
    /*background-color: #aee1fb;*/
    background-color: aliceblue;
    background-image: linear-gradient(to bottom,lightcyan,lavender);
    /*background-color: azure;*/
    height: 80px;
    box-shadow: 0 2px 15px rgba(0.1, 0.1, 0.1, 0.1);
    position: relative;
}
.head-box{
    position: absolute;
    top:20px;
    left: 500px;
    background-color: lightcyan;
    height: 50px;
    color:black;
    box-shadow: 0 2px 15px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius:10px;
}
.head-list{
    text-align: center;
}
li{
    color: mediumpurple;
    display: inline;
    width: 100px;
    height: 100px;
    font-size: 20px;
    font-family: 仿宋, serif;
}
ul{
    list-style-type:none;
    margin: 5px;
    height: 200px;
}
a{
    color: #696687;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 5px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
a:hover{
    color: mediumpurple;
    border: none;
    text-decoration: none;
}
div{
    text-align: center;
    border: 2px;
}
.body-div{
    height: 500px;
    background-color: lightcyan;
    position: relative;
    border: 5px;
    margin: 10px;
    box-shadow: 0 2px 15px rgba(0.1, 0.1, 0.1, 0.1);
}
.body-left-box{
    background-color: azure;
    height: 500px;
    width: 200px;
    box-shadow: 0 2px 15px rgba(0.1, 0.1, 0.1, 0.1);
}
.body-left-head{
    height: 50px;
    width: 200px;
    background-color: lightcyan;
    background-image: linear-gradient(to bottom,azure,lavender);
    box-shadow: 0 2px 15px rgba(0.1, 0.1, 0.1, 0.1);
    position: relative;
}
.tubiao{
    float: left;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: lightcyan;
    box-shadow: 0 2px 15px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius:5px;
    left:20px;
    top:10px;
    text-align: center;
}
.body-left-text{
    float: left;
    position: absolute;
    left: 80px;
    top:15px;
    text-align: center;
    font-size: 15px;
}
.sidemenu{
    width:140px;
    height:850px;
    overflow:auto;
    line-height:30px;
    font-size:18px;
    top:30px;
    margin: 15px;
}
div.sidemenu ul
{
    list-style:none;
    margin: 0;
    padding: 0;
}
.one_level_menubar
{
    font-weight:bold;
}
.two_level_menubar
{
    display:none;
    margin-left:16px;
    font-size:20px;
}
div.sidemenu ul li a, div.menu ul li a:visited
{
    color: #444444;
    text-decoration: none;
    white-space: nowrap;
    /* margin-left:10px; */
    text-align: center;
}
div.sidemenu ul li a:hover
{
    color: blueviolet;
}
.body-left-caidan{
    height: 30px;
    width: 100px;
    background-color: lightcyan;
    background-image: linear-gradient(to bottom,azure,lightcyan);
    box-shadow: 0 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
    position: relative;
    text-align: left;
}


